@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin:"0px";
    padding:"0px"
}

.link-style {
    text-decoration: underline;
    font-size: 32px;
    font-weight: 600;
    color: blue;
    transition: color 0.3s ease;
  }
  
.link-style:hover {
color: #53079f;
}

/* ------ custom scrolbor ---------- */
::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
    background: rgb(255, 255, 255);
    border-radius: 15px;
}

::-webkit-scrollbar-thumb{
    background:rgb(88, 88, 88);
    border-radius: 15px;
}